Host iiticubws003
    HostName 10.240.12.11
    User isaac
    Port 2222

Host iiticubsrv19
    HostName 10.255.35.166

Host icubPurple
	User icub
	HostName 10.240.1.14

Host icub-cuda
	User icub
	HostName 10.0.0.40
	ProxyCommand ssh icubPurple nc %h %p 2> /dev/null

Host icub-head
	User icub
	HostName 10.0.0.2
	ProxyCommand ssh icubPurple nc %h %p 2> /dev/null

Host icub-zynq
	User icub
	HostName 10.0.0.3
	ProxyCommand ssh icubPurple nc %h %p 2> /dev/null

Host icub23
	User icub
	HostName 10.0.0.23
	ProxyCommand ssh icubPurple nc %h %p 2> /dev/null

Host icub24
	User icub
	HostName 10.0.0.24
	ProxyCommand ssh icubPurple nc %h %p 2> /dev/null

Host iiticubws074
	User icub
	HostName iiticubws074
	LocalForward 6006 127.0.0.1:6006
